
h1 a {
    color: #2EC745;
    font-family: 'Nova Mono' ;
}

h2 a {
    color: #2EC745;
    font-family: 'Nova Mono' ;
}

h3 a {
    color: #2EC745;
    font-family: 'Nova Mono' ;
}

body {
    padding-left: 15px;
    padding-right: 40px;
}